@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
}

.App {
  padding: 0 50px;
}

.homePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.homePage h1 {
  font-size: 70px;
  color: #e5e5e5;
  margin: 30px 0;
}

.homePage h2 {
  font-size: 30px;
  color: #e5e5e5;
}

@media screen and (max-width: 992px) {
  .App {
    padding: 0 30px;
  }
}

@media screen and (max-width: 768px) {
  .App {
    padding: 0 20px;
  }
  .homePage h1 {
    font-size: 50px;
  }
  .homePage h2 {
    font-size: 20px;
  }
}
